/*  --------------------------------------------

	SHOP @shop - woocommerce shop styles...
	
    -------------------------------------------- */
	
/* SHOP */



/* Shopping Cart */
.shopping-cart {
	display: inline-block; width: 40px; line-height: 53px; position: relative; font-size: 18px; text-align: center; color: inherit;
	}
.shopping-cart:hover {
	color: #000;
	}
.shopping-cart:before {
	content: '\e849'; font-family: fontello;
	}
.shopping-cart > span {
	 position: absolute; top: 5px; left: 16px; width: 16px; line-height: 16px; font-size: 10px; text-align: center; color: #fff; background: #333; border-radius: 50%; font-family: Helvetica, Arial, sans-serif;
	}

/* Page Title */
.page-title {
	text-align: center; text-transform: uppercase;
	}	
.term-description {
	text-align: center; text-transform: uppercase; opacity: .3; font-size: 13px; letter-spacing: 2px;
	}	

/* Filtering */
.woocommerce .woocommerce-ordering, 
.woocommerce .woocommerce-result-count {
    display: block; float: none;
	}
.woocommerce .woocommerce-result-count {
	font-size: 11px; letter-spacing: 1px; text-transform: uppercase; margin-top: 2em;
	}
.woocommerce .woocommerce-ordering {
	margin-bottom: 2em;
	}
.woocommerce-ordering div.selector {
	padding: .2em 1em; font-size: 15px;
	}
.woocommerce-ordering div.selector select {
	padding-right: 36px; padding-left: 12px; letter-spacing: .03em; border-width: 1px; font-size: 13px;
	}

/* PRODUCTS */
.woocommerce ul.products li.product a img {
    transition: all .4s;
    }
.woocommerce ul.products li.product a img:hover {
    opacity: .8;
    }
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
	text-align: center;
	}
.woocommerce ul.products li.product > a:not(.button) {
	color: inherit;
	}
.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3 {
	font-size: 14px; letter-spacing: .03em; text-transform: uppercase;
	}
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale {
    display: block; padding: 10px 14px; line-height: 1.2; min-height: 0; text-align: center; background: #111; color: #fff; position: absolute; top: 22px;
    right: -12px; border-radius: 0; font-size: 11px; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; pointer-events: none; z-index: 99;
	}
/* sale badge on product single page */
.woocommerce span.onsale {
	left: -16px; right: auto;
	}
mark.count {
    display: inline-block; padding: 5px 10px; font-size: 11px; font-weight: 400; margin-left: 9px; background: #ffec88; text-align: center;
	}
/* Category */
.product-category img {
    border: 12px solid #222;
    }

/* Price */
.woocommerce ul.products li.product .price {
    color: #889382; font-size: 14px;
    }
.woocommerce ul.products li.product .price del {
    margin-right: 12px;
    }


/* SHOP SINGLE */

/* Back To Shop Button */
.entry-header .button {
	letter-spacing: .06em; display: inline-block; margin-top: 6px; padding: 8px 16px !important; border: 0 !important;
	}
.entry-header .button:before {
	display: inline-block; padding-right: 6px; font-size: 14px;
	}
.entry-header .button.back:before {
	content: '\e873'; font-family: fontello;
	}

/* Hide the title in the summary */
/* .woocommerce .entry-summary .entry-title {
	display: none;
	} */

/* Right Side */
.woocommerce a.woocommerce-review-link {
    color: #bbb; text-transform: uppercase; font-size: 10px; letter-spacing: 1px; display: inline-block; margin-left: 16px;
	}
.woocommerce div.product p.price {
    margin: 32px 0;
	}
.woocommerce div.product p.price del {
    font-size: 16px; color: #daa4a4; margin-right: 16px;
	}
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
    color: #0f0f0f;
	}
.woocommerce div.product .summary p.price {
    font-size: 2em;
	}
.woocommerce div.product p.price del, 
.woocommerce div.product span.price del {
    opacity: .8;
	}
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.woocommerce ins {
	text-decoration: none; font-weight: 400;
	}
.woocommerce .summary .woocommerce-Price-currencySymbol {
    font-size: 18px;
	}
.woocommerce .summary {
	font-size: 14px; line-height: 1.7;
	}
.woocommerce .product_meta {
	margin-top: 40px; font-size: 10px; letter-spacing: .1em; text-transform: uppercase;
	}
.woocommerce .product_meta > span {
	display: block; margin-bottom: 12px;
	}
.woocommerce .product_meta > span span,
.woocommerce .product_meta > span a {
	display: inline-block; margin-left: 5px;
	}

/* Left Side */
.woocommerce-product-gallery figure {
    margin: 0;
	}
.woocommerce img.emoji {
    display: none !important;
    }
	
/* Tags */
.tagged_as {
	display: block; margin: 10px 0 0 0;
	}
.tagged_as a {
	font-size: 10px !important;
	}

/* Cart Form */
.woocommerce .summary .cart {
	margin-top: 30px;
	}

/* Quantity */
.woocommerce .quantity .qty {
    width: 54px !important; text-align: center; padding: 1.25em .2em !important; border: 2px solid #111 !important; margin-right: -6px;
	}
.woocommerce .quantity .qty:focus {
	border-color: #ddd;
	}
.single_add_to_cart_button.button.alt {
    padding: 1.76em 2.6em !important;
	}

/* Thumbnails */
.woocommerce #content div.product div.thumbnails a, 
.woocommerce div.product div.thumbnails a, 
.woocommerce-page #content div.product div.thumbnails a, 
.woocommerce-page div.product div.thumbnails a {
    width: 31.33%; margin-right: 3%;
	}
.woocommerce .thumbnails.columns-3 a:nth-child(3n) {
	margin-right: 0 !important;
	}

/* Tabs */
.woocommerce-tabs.wc-tabs-wrapper {
    padding: 3em 0; clear: left;
	}
.woocommerce .wc-tab {
	font-size: 14px; line-height: 1.8;
	}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	text-align: center; padding: 2px 20px;
	}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background: none; border-radius: 0;
	}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	display: none;
	}
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-color: #eee;
	}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	margin: -1px -3px 0; padding: 0; line-height: 1;
	}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-weight: 400; font-size: 11px; text-transform: uppercase; letter-spacing: 1px; padding: 13px 21px; color: #777; background: #fff;
	}
.woocommerce div.product .woocommerce-tabs ul.tabs li:not(.active) a:hover {
    background: #fafafa;
	}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	border-color: #222;
	}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: #fff; background: #222; display: inline-block;
	}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	bottom: 50%; z-index: 0;
	}
.woocommerce div.product .woocommerce-tabs .panel {
    margin: 3.2em 0;
	}
.woocommerce-Tabs-panel--description h3,
.woocommerce .panel h2 {
    font-weight: 400;
    }

/* Table */
.woocommerce table.shop_attributes {
    margin: 2.4em 0 3em 0; text-align: left; border-collapse: collapse; border-top: 1px solid #eee; border-left: 1px solid #eee; border-right: 1px solid #eee;
	}
.woocommerce table.shop_attributes td {
    font-style: normal; padding-left: 16px; color: #666;
	}
.woocommerce table.shop_attributes tr {
    border-left: 1px solid #eee;
	}
.woocommerce table.shop_attributes td, 
.woocommerce table.shop_attributes th {
    border-bottom: 1px solid #eee;
	}
.woocommerce table.shop_attributes th {
	font-size: 11px; letter-spacing: 1px; padding: 10px 10px 10px 16px;
	}
.woocommerce table.shop_attributes .alt td, 
.woocommerce table.shop_attributes .alt th {
    background: #fbfbfb;
	}

/* Variations */
.woocommerce div.product form.cart .variations label {
    font-weight: 400; text-align: left; padding: 12px 24px 13px; color: #333; background: #fafafa; margin: 0;
	}
.woocommerce div.product form.cart .variations td {
    padding: 0;
	}
.woocommerce div.product form.cart .variations td.label {
	font-size: 13px;
	}
.woocommerce div.product form.cart .reset_variations {
    text-transform: uppercase; letter-spacing: 2px; font-size: 9px; float: right; padding: 0px 12px; background: #333; color: #fff;
	}
.woocommerce-variation p {
    margin: 0;
	}
.woocommerce-variation {
    padding: 12px 20px; margin-bottom: 20px; border: 1px solid #eee; font-size: 12px;
	}

/* Reviews */
.woocommerce .panel h2.woocommerce-Reviews-title {
    text-transform: uppercase; font-size: 12px; color: #ccc; letter-spacing: .08em;
	}
.woocommerce .panel h2.woocommerce-Reviews-title span {
    font-size: 200%; text-transform: none; letter-spacing: 0; color: #333; display: inline-block; margin-left: 8px;
	}
.woocommerce #reviews #comments ol.commentlist { 
	margin: 40px 0;
	}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
    background: none; border: 0; border-radius: 50%;
	}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	position: relative; padding: 12px 16px; background: #fff; border-color: #eee;
	}
.woocommerce #reviews #comments ol.commentlist li .comment-text p:last-child {
	margin-bottom: 0;
	}
.woocommerce #reviews #comments .meta strong {
    font-size: 14px; color: #222;
	}
.woocommerce #reviews #comments ol.commentlist li .meta {
    color: #bbb;
	}
.woocommerce #reviews #comments ol.commentlist li .meta time {
    text-transform: uppercase; font-size: 10px; letter-spacing: .05em;
	}
.woocommerce .star-rating {
	width: 5em;
	}
.woocommerce .star-rating:before,
.woocommerce .star-rating span:before {
	font-size: 12px;
	}
/* comment box arrow */
.woocommerce .comment-text:after, 
.woocommerce .comment-text:before {
	right: 100%; top: 32px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
	}
.woocommerce .comment-text:after {
	border-color: rgba(255, 255, 255, 0); border-right-color: #fff; border-width: 7px; margin-top: -7px;
	}
.woocommerce .comment-text:before {
	border-color: rgba(238, 238, 238, 0); border-right-color: #eaeaea; border-width: 8px; margin-top: -8px;
	}

/* Review Form */
.woocommerce #review_form_wrapper { 
	margin: 40px 0; overflow: hidden; padding: 32px 22px; border: 10px solid #fafafa;
	}
.woocommerce #reviews h3,
.woocommerce #reviews .comment-form-rating,
.woocommerce #reviews .stars {
	text-align: center;
	}
.woocommerce #review_form #respond p.comment-form-rating {
    margin-bottom: 0;
	}
.woocommerce #reviews h3#reply-title {
    margin-bottom: 24px; letter-spacing: 0; text-transform: none; font-size: 24px;
	}
.comment-respond .input-text, 
.comment-respond textarea, 
.comment-respond select {
	max-width: 100%;
	}
.woocommerce #review_form_wrapper #respond .stars {
	font-size: 18px; max-width: 100%; margin-left: auto; margin-right: auto;
	}

/* Related Products & Cross Sells */
.woocommerce .related.products > h2,
.upsells > h2,
.up-sells > h2 {
	text-align: center; margin-bottom: 1.8em; font-size: 17px; text-transform: uppercase; letter-spacing: 2px;
	}



/* CART */
.woocommerce table.shop_table th {
    font-size: 12px;
    }
.woocommerce table.shop_table {
    border-collapse: collapse; border-left: 0; border-color: #eee; border-bottom: 0; border-right: 0;
    }
.woocommerce table.shop_table th {
    border: 0;
    }
.woocommerce table.shop_table tbody tr.cart_item {
    border-left: 1px solid #eee; border-right: 1px solid #eee;
    }
.woocommerce #content table.cart img, 
.woocommerce table.cart img, 
.woocommerce-page #content table.cart img, 
.woocommerce-page table.cart img {
    max-height: 60px; width: auto; display: block; margin: 0 auto;
    }
.woocommerce table.shop_table td {
    border-color: #eee; border-bottom: 0; border-right: 0; padding: 14px;
    }
.woocommerce table.shop_table td.product-name a {
    color: inherit; font-size: 14px;
    }
.woocommerce table.shop_table td.actions {
    padding: 26px 0;
    }
.woocommerce table.shop_table tbody th, 
.woocommerce table.shop_table tfoot td, 
.woocommerce table.shop_table tfoot th {
    border-color: #eee;
	}
.woocommerce a.remove {
    font-size: 20px; color: #da9898 !important; width: 26px; line-height: 26px; height: auto;
	}
.woocommerce a.remove:hover {
    background: #da9898 !important;
	}
.woocommerce table.shop_table .quantity .qty {
	margin-right: 0; border: 1px solid #eee !important; padding: 8px !important;
	}
/* variations */
.woocommerce td.product-name dl.variation dd, 
.woocommerce td.product-name dl.variation dt {
    display: block; float: none;
    }
.woocommerce td.product-name dl.variation dt {
    font-size: 11px; text-transform: uppercase; letter-spacing: 1px; opacity: .3;
    }
.woocommerce td.product-name dl.variation dd {
    padding: 0; margin-left: 0; font-size: 12px;
    }
.woocommerce td.product-name dl.variation dd p {
    margin-top: 0;
    }
	
/* Cart Totals */
.woocommerce .cart_totals .woocommerce-Price-amount.amount {
    font-size: 22px;
    }
.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals {
    max-width: 350px; margin: 0 auto; float: none; padding: 42px 32px; border: 5px solid #222;
    }

.woocommerce .cart-collaterals .cart_totals:before,
.woocommerce-page .cart-collaterals .cart_totals:before {
	content: '\e849'; font-family: fontello; display: block; font-size: 42px; width: 56px; line-height: 56px; margin: -74px auto 20px auto; background: #fff; border-radius: 50%;
	}
.woocommerce .cart-collaterals h2,
.woocommerce .wc-proceed-to-checkout {
    text-align: center;
    }
.woocommerce #content table.cart td.actions .coupon .input-text, 
.woocommerce #content table.cart td.actions .coupon input,
.woocommerce table.cart td.actions .coupon .input-text, 
.woocommerce table.cart td.actions .coupon input {
    float: left; border-width: 1px; padding: 10px 20px !important; margin-bottom: 18px;
	}
.woocommerce table.cart td.actions .button {
	padding: 10px 20px !important; border-width: 1px;
	}
.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text {
    border: 0;
	}
.woocommerce #content table.cart td.actions .coupon, 
.woocommerce table.cart td.actions .coupon {
    overflow: hidden; padding-bottom: 20px;
    }
.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
    width: 132px;
	}
.woocommerce .cart-collaterals, 
.woocommerce-page .cart-collaterals {
    margin: 3em 0;
	}
.woocommerce .cart_item .product-subtotal .woocommerce-Price-amount.amount {
    font-size: 14px; font-weight: bold;
    }
	


/* CHECKOUT */
.woocommerce form .form-row {
    margin-bottom: 19px;
	}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border-color: #333; border-width: 3px; padding: 24px; margin-bottom: 4em;
	}
.woocommerce .checkout_coupon p.form-row {
    margin-bottom: 0;
	}
.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea,
.woocommerce form .form-row select,
.woocommerce form .form-row .selector {
    max-width: 100% !important;
	}
.woocommerce-checkout tfoot tr {
    border-left: 1px solid #eee; border-right: 1px solid #eee;
	}
.woocommerce-checkout tfoot {
    border-bottom: 1px solid #eee;
	}
#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment {
    background: #fff; border: 3px solid #333; font-size: 13px; margin: 5em 0 3em 0;
    }
#add_payment_method #payment ul.payment_methods, 
.woocommerce-cart #payment ul.payment_methods, 
.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: 1px solid #eee; padding: 22px 32px;
    }
#add_payment_method #payment div.form-row, 
.woocommerce-cart #payment div.form-row, 
.woocommerce-checkout #payment div.form-row {
    padding: 22px 32px;
    }
.woocommerce form.checkout.woocommerce-checkout {
    margin-top: 3em;
	}
.woocommerce-checkout-payment label {
    display: inline-block; font-size: 11px;
	}
#add_payment_method #payment div.payment_box, 
.woocommerce-cart #payment div.payment_box, 
.woocommerce-checkout #payment div.payment_box {
    background: none; border: 2px solid #eee;
	}
.woocommerce-checkout-payment p {
    margin-top: 0;
	}
#add_payment_method #payment div.payment_box:before, 
.woocommerce-cart #payment div.payment_box:before, 
.woocommerce-checkout #payment div.payment_box:before {
    border-bottom: 9px solid #ddd;
	}
#add_payment_method #payment .payment_method_paypal .about_paypal, 
.woocommerce-cart #payment .payment_method_paypal .about_paypal, 
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    margin-left: 20px; color: inherit; font-size: 10px;
	}
@media screen and (max-width: 767px) {
	.woocommerce form .form-row-first, 
	.woocommerce form .form-row-last, 
	.woocommerce-page form .form-row-first, 
	.woocommerce-page form .form-row-last {
		float: none;
		width: 100%;
		}
}
.woocommerce form.login .inline {
  	margin-left: 22px;
	}
.woocommerce form.login .inline input[type="checkbox"] { 
	margin-right:  0; 	
	}
.woocommerce form .form-row .input-checkbox {
    display: inline-block; text-align: left;
    }

/* Selects */
.select2-container--default .select2-selection--single {
    border: 3px solid #eee; border-radius: 0;
    }
.select2-container .select2-selection--single {
    height: 44px;
    }
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
    }

/* ORDER RECEIVED */
.woocommerce .woocommerce-thankyou-order-received {
    font-size: 18px; text-align: center; padding: 22px;
    }
.woocommerce-thankyou-order-received:before {
	content: '\e85b'; font-family: fontello; font-size: 124px; line-height: 1.6; margin-bottom: 24px; display: block;	
	}
ul.woocommerce-thankyou-order-details.order_details {
    padding: 20px; background: #f9f5e5;
    }
.woocommerce .order_details li {
    font-size: 10px; letter-spacing: 1px; color: rgba(0, 0, 0, 0.6); border-right-color: rgba(0, 0, 0, 0.17); padding: 6px 27px 6px 6px;
    }
.woocommerce .order_details li strong {
    letter-spacing: 0; margin-top: 4px; font-size: 14px; color: #222;
	}
tr.product-purchase-note p {
    font-size: 13px; opacity: .6; max-width: 480px;
	}
.woocommerce table.order_details td,
.woocommerce table.order_details th,
.woocommerce table.customer_details td,
.woocommerce table.customer_details th  {
    padding-left: 0;
	}
@media screen and (max-width: 767px) {
	.woocommerce .order_details li {
    	display: block; float: none; margin-bottom: 10px; border-right: 0; border-bottom: 1px dashed rgba(51, 51, 51, 0.19); padding-bottom: 14px;
		}
	.woocommerce .order_details li:last-of-type {
		margin-bottom: 0;
		}
}


/* BUTTONS OVERRIDE */
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce button.button.alt,
.woocommerce #respond input#submit.disabled, 
.woocommerce #respond input#submit:disabled, 
.woocommerce #respond input#submit:disabled[disabled], 
.woocommerce a.button.disabled, 
.woocommerce a.button:disabled, 
.woocommerce a.button:disabled[disabled], 
.woocommerce button.button.disabled, 
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled], 
.woocommerce input.button.disabled, 
.woocommerce input.button:disabled, 
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt  {
	font-size: 10px; line-height: 1; padding: 14px 22px; font-weight: 400; border-radius: 0; color: #111; background-color: transparent;    border: 2px solid #111;
	}
/* disabled button styles */
.woocommerce #respond input#submit.alt.disabled, 
.woocommerce #respond input#submit.alt.disabled:hover, 
.woocommerce #respond input#submit.alt:disabled, 
.woocommerce #respond input#submit.alt:disabled:hover, 
.woocommerce #respond input#submit.alt:disabled[disabled], 
.woocommerce #respond input#submit.alt:disabled[disabled]:hover, 
.woocommerce a.button.alt.disabled, 
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled, 
.woocommerce a.button.alt:disabled:hover, 
.woocommerce a.button.alt:disabled[disabled], 
.woocommerce a.button.alt:disabled[disabled]:hover, 
.woocommerce button.button.alt.disabled, 
.woocommerce button.button.alt.disabled:hover, 
.woocommerce button.button.alt:disabled, 
.woocommerce button.button.alt:disabled:hover, 
.woocommerce button.button.alt:disabled[disabled], 
.woocommerce button.button.alt:disabled[disabled]:hover, 
.woocommerce input.button.alt.disabled, 
.woocommerce input.button.alt.disabled:hover, 
.woocommerce input.button.alt:disabled, 
.woocommerce input.button.alt:disabled:hover, 
.woocommerce input.button.alt:disabled[disabled], 
.woocommerce input.button.alt:disabled[disabled]:hover {
	background: none; color: #111;
	}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
	color: #fff; background: #222;
	}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
	background: #222; color: #fff;
	}
.woocommerce #respond input#submit.loading, 
.woocommerce a.button.loading, 
.woocommerce button.button.loading, 
.woocommerce input.button.loading {
	padding-right: 36px;
	}
.woocommerce #respond input#submit:after, 
.woocommerce a.button:after, 
.woocommerce button.button:after, 
.woocommerce input.button:after {
	top: 13px !important; font-size: 14px;
	}
.woocommerce #respond input#submit.added:after, 
.woocommerce a.button.added:after, 
.woocommerce button.button.added:after, 
.woocommerce input.button.added:after {
    line-height: .8;
	}

/* PRETTY PHOTO */
div.pp_woocommerce div.ppt {
    text-align: left; font-weight: 400; font-size: 11px; text-transform: uppercase; letter-spacing: .08em;
	}
div.pp_woocommerce .pp_description, 
div.pp_woocommerce .pp_nav {
    font-size: 12px;
	}
div.pp_woocommerce .pp_arrow_next, 
div.pp_woocommerce .pp_arrow_previous {
	margin-top: 1px;
	}
.currentTextHolder {
	padding: 1px 1px 0; letter-spacing: 3px;
	}
div.pp_woocommerce .pp_close {
	background: none; top: -40px; right: 0; font-size: 21px!important;
	}
div.pp_woocommerce a.pp_contract, 
div.pp_woocommerce a.pp_expand {
	background: none; left: auto; right: 36px; top: -40px; font-size: 21px!important;
	}
div.ppt {
	margin: 0 0 -6px 0;
	}
div.pp_woocommerce .pp_arrow_next, 
div.pp_woocommerce .pp_arrow_previous {
	background: none; font-size: 21px !important; text-shadow: none; color: #333 !important;
	}
div.pp_woocommerce .pp_arrow_next:hover, 
div.pp_woocommerce .pp_arrow_previous:hover {
	color: #000 !important; background: none;
	}
div.pp_woocommerce .pp_next:before, 
div.pp_woocommerce .pp_previous:before {
	background: none; text-shadow: 0 1px 2px rgba(0,0,0,.2); font-size: 26px !important;
	}
div.pp_woocommerce .pp_gallery ul li a {
	border: 0; border-radius: 0;
	}
div.pp_woocommerce .pp_gallery ul li.selected a {
	border: 1px solid #fff;
	}
	
/* MESSAGES */
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    background: none; border: 1px solid #eee; font-size: 13px;
	}
.woocommerce-error a, .woocommerce-info a, .woocommerce-message a {
    color: inherit;  text-transform: uppercase; font-size: 11px; display: inline-block; margin-left: 11px; letter-spacing: .05em;
	}
.woocommerce-message {
    border-top: 5px solid #79d69a;
	}
.woocommerce-message:before {
	color: #79d69a;
	}
.woocommerce-info {
    border-top: 5px solid #eae5bf;
	}
.woocommerce-info:before {
	color: #c3bf9b;
	}
.woocommerce-error {
    border-top: 5px solid #e29191;
	}
.woocommerce-error:before {
	color: #e29191;
	}
	
/* Breadcrumb */
.woocommerce .woocommerce-breadcrumb {
    margin-bottom: 50px; color: #ccc; text-transform: uppercase; font-size: 11px; letter-spacing: .07em; padding: 12px 24px; border: 1px solid #eee; display: inline-block; 
	}
.woocommerce .woocommerce-breadcrumb a {
    color: #333;
	}
.woocommerce a.added_to_cart {
    text-transform: uppercase; font-size: 11px; display: block; margin-top: 13px; letter-spacing: 1px; color: inherit;
	}
	
	
/* MY ACCOUNT PAGE */
.woocommerce-MyAccount-navigation ul {
    list-style: none; padding: 0; margin: 30px 0;
	}
.woocommerce-MyAccount-navigation ul li a {
    padding: 6px 12px; display: inline-block; border: 1px solid #eee; color: inherit; text-transform: uppercase; font-size: 10px; letter-spacing: .05em; margin-bottom: 5px;
	}
.woocommerce-MyAccount-navigation ul li.is-active a {
	background: #222; color: #fff; cursor: default; border-color: transparent;
	}
.woocommerce-MyAccount-navigation ul li {
    display: inline-block;
	}
.woocommerce-MyAccount-navigation ul li:not(.is-active) a:hover {
    background: #fafafa;
	}
.woocommerce-MyAccount-content,
.woocommerce table.my_account_orders {
	font-size: 13px;
	}
.woocommerce-MyAccount-content a:not(.button) {
	text-decoration: underline;
	}
.woocommerce-MyAccount-content a:not(.button):not(:hover) {
	color: inherit;
	}
.woocommerce-MyAccount-content legend {
    font-size: 16px; padding: 2em 0 1.3em 0; clear: left;
    }
.woocommerce-MyAccount-content a.button {
	padding: 10px 20px;
    }





/*  -------------------------------------------- */
/* TABLETS */
@media screen and (min-width: 768px) {
	
	.woocommerce .product .entry-meta span.price {
		font-size: 13px;
		}
	.woocommerce .woocommerce-result-count, 
	.woocommerce-page .woocommerce-result-count {
		float: left;
		}
	.woocommerce .woocommerce-ordering, 
	.woocommerce-page .woocommerce-ordering {
		float: right;
		}	
	
	/* SHOP SINGLE */
	.woocommerce #content div.product div.images, 
	.woocommerce div.product div.images, 
	.woocommerce-page #content div.product div.images, 
	.woocommerce-page div.product div.images {
   	 	width: 46%;
		}
	.woocommerce .panel h2 {
		font-size: 1.7em;
		}

	/* Reviews */
	.woocommerce-Reviews .comment-form {
		margin-top: 2.4em;
		}
	.woocommerce-Reviews .comment-form .form-submit {
		max-width: 320px;
		}
	.woocommerce #reviews #comments ol.commentlist li img.avatar {
		width: 60px; height: 60px;
		}
	.woocommerce #reviews #comments ol.commentlist li .comment-text.comment-text {
		margin-left: 78px; padding: 20px 30px;
		}
	
	/* CART */
	.woocommerce table.shop_table {
		border-top: 0;
		}
	
	/* MY ACCOUNT */
	.woocommerce-MyAccount-navigation ul {
    	margin: 0;
		}
	.woocommerce-account .woocommerce-MyAccount-navigation {
    	width: 150px; position: absolute;
		}
	.woocommerce-account .woocommerce-MyAccount-content {
		float: left; width: 100%; padding-left: 210px; min-height: 320px;
		}
	.woocommerce-MyAccount-navigation ul li,
	.woocommerce-MyAccount-navigation ul li a {
		display: block; margin-bottom: -1px;
		}
	.woocommerce-MyAccount-navigation ul li a {
		padding: 16px 24px;
		}
	
}
/*  -------------------------------------------- */





/*  -------------------------------------------- */
/* DESKTOPS */
@media screen and (min-width: 992px) {
	
	
	.woocommerce #reviews #comments ol.commentlist {
		font-size: 0;
		}
	.woocommerce #reviews #comments ol.commentlist li {
		display: inline-block; width: 48%; margin-left: 2%; font-size: 14px; vertical-align: middle; line-height: 1.8;
		}
	.woocommerce #reviews #comments ol.commentlist li:nth-child(odd) {
		margin-left: 0; margin-right: 2%;
		}
	
	/* Review Form */
	.woocommerce #review_form_wrapper { 
		padding: 42px 54px;
		}
	.woocommerce p.comment-form-comment {
    	width: 65%; float: left;
		}
	.woocommerce #review_form #respond p.comment-form-author,
	.woocommerce #review_form #respond p.comment-form-email,
	.comment-form-rating {
		margin-left: 3%; width: 32%; float: left; clear: none;
		}
	.woocommerce #review_form #respond p.form-submit {
		padding-top: 25px; max-width: 300px;
		}
	.woocommerce #review_form #respond p.form-submit input { width: 100%; }
	.woocommerce #review_form #respond p input {
		max-width: 100%;
		}
	.woocommerce #review_form #respond textarea {
		min-height: 213px;
		}
	
}
/*  -------------------------------------------- */
